@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Tomorrow:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --headerFont: 'Tomorrow', sans-serif;
    --contentFont: 'Poppins', sans-serif;
    --headerText: rgb(63, 12, 90);
    --contentText: rgb(80, 39, 102);
    --linkText:rgb(154, 31, 125);
    --border: 2px solid rgb(63, 12, 90);
    --boxShadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.417);
    --boxShadowInset: 0px 2px 8px -2px rgba(0, 0, 0, 0.417);
    --mainBG: rgb(252, 245, 255);
    --sectionBG:rgb(238, 220, 247);
    --gradientBottom: rgba(239,186,211,.8);
    --gradientTop: rgba(161,99,245,.8);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--contentFont);
}


body{
    background-color: var(--mainBG);
    overflow-x: hidden;
}

section{
    display: block;
    width: 100%;
}

.hidden{
    display:none;
}

/* ---------------------Hero------------------ */

#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(var(--gradientTop)0%, var(--gradientBottom) 100%);
    background-size: cover;
    position: relative;
    left: 0;
    overflow: hidden;
    
}

#hero .back-video{
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -10000;
}

#hero:before {
    content: "";
    background: rgba(80, 39, 102, .6) linear-gradient(var(--gradientTop)0%, var(--gradientBottom) 100%) repeat scroll 0% 0%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
  
#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 15px;
    right: 15px;
    display: grid;
    text-align: center;
}

